<?xml version="1.0" encoding="UTF-8"?>
<config>
	<DatabaseServer>localhost</DatabaseServer>
	<DatabaseUser>root</DatabaseUser>
	<DatabasePassphrase></DatabasePassphrase>
	<DatabaseName>photoffice</DatabaseName>
	<SerialNumber>local</SerialNumber>
	<VersionNumber>1.0.2.1</VersionNumber>
	<XmlRpcString>http://localhost/homepage_photoffice/photofficevalidate.html</XmlRpcString></config>
