<?xml version="1.0" encoding="UTF-8"?>
<config>
	<DatabaseServer>db</DatabaseServer>
	<DatabaseUser>root</DatabaseUser>
	<DatabasePassphrase>root</DatabasePassphrase>
	<DatabaseName>fotoffice</DatabaseName>
	<SerialNumber></SerialNumber>
	<VersionNumber>1.0.2.1</VersionNumber>
	<XmlRpcString>http://www.photoffice.de/photofficevalidate.html</XmlRpcString>
</config>
